apturl
bcrypt
blinker
brlapi
certifi
chardet
chrome-gnome-shell
cm-rgb
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
django-crispy-forms
django-filter
django-heroku
djangorestframework
duplicity
fasteners
future
gunicorn
gyp
httpie
idna
importlib-metadata
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markdown
markupsafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
pillow
pip-chill
protobuf
pycups
pyjwt
pymacaroons
pynacl
pyrfc3339
pysocks
python-apt
python-dateutil
python-debian
python-decouple
pyxdg
pyyaml
reportlab
simplejson
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
xdg
xkit
zipp
